<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      internalLogToConsoleError="true"
      internalLogLevel="Warn"
      autoReload="true">

  <time xsi:type="AccurateUTC" />

  <variable name="layout" value="${date:universalTime=true:format=yyyy-MM-ddTHH\:mm\:ss.fffZ}|${level:uppercase=true}|${logger}|${ndlc}|${message}" />

  <targets>
    <target xsi:type="OutputDebugString" name="debug" />
    <target xsi:type="Debugger" name="debugger" layout="${layout}"/>
    <target xsi:type="ColoredConsole"
          name="console"
          layout="${layout}"
          errorStream="false"
          detectConsoleAvailable="true" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="debug,debugger,console" />
  </rules>

</nlog>
